<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SoyTemplate</string>
	<key>ordering</key>
	<array>
		<string>C56846DE-CB9A-4DB5-9D38-DC417DEA4D5F</string>
		<string>AF161179-AF03-4DE6-BABD-A2A85739523F</string>
		<string>5093081E-4B74-4DE8-AE6E-02F0334DDFEA</string>
		<string>84DD0A8D-D86F-4B4C-B942-DCBF7DA44A87</string>
		<string>EEAC3B8B-AAE4-4D49-AF1C-B47EDE50078B</string>
		<string>BE6A0B8A-34ED-4896-B600-2DFE41C7246A</string>
		<string>6C86EAFA-06ED-47AC-83E4-2F2D28FD0E43</string>
		<string>B5EF61E9-B4B3-4D9A-800C-75256D077973</string>
	</array>
	<key>uuid</key>
	<string>956A2BF6-079E-4D57-BC3D-8DA43F0EE761</string>
</dict>
</plist>
