<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SoyTemplate</string>
	<key>ordering</key>
	<array>
		<string>C56846DE-CB9A-4DB5-9D38-DC417DEA4D5F</string>
	</array>
	<key>uuid</key>
	<string>956A2BF6-079E-4D57-BC3D-8DA43F0EE761</string>
</dict>
</plist>
